/* Estilo base para el AnchorPane */
AnchorPane {
    -fx-background-color: #f8f9fa; /* Fondo claro */
    -fx-padding: 20px;
}

/* Estilo para los Text y Labels */
Text, Label {
    -fx-text-fill: #343a40; /* Color de texto oscuro */
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

/* Estilo para los TextField y TextArea */
TextField, TextArea {
    -fx-background-color: white;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
    -fx-font-size: 14px;
}

/* Estilo para el Slider */
Slider {
    -fx-control-inner-background: #007bff; /* Color azul para el slider */
    -fx-background-color: #f8f9fa;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

/* Estilo para los botones */


/* Estilo específico para el botón de Aceptar */
.boton-aceptar {
    -fx-background-color: #28a745;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 5px 10px;
    -fx-background-radius: 5px;
}
.boton-aceptar:hover {
    -fx-background-color: #218838;
}

/* Estilo específico para el botón de Cancelar */
/* Botón Eliminar */
.boton-cancelar {
    -fx-background-color: #dc3545;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 5px 10px;
    -fx-background-radius: 5px;
}
.boton-cancelar:hover {
    -fx-background-color: #c82333;
}

/* Estilo para el StackPane que contiene la imagen */
StackPane {
    -fx-background-color: white;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-padding: 10px;
}

/* Estilo para la ImageView */
ImageView {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
}

/* Estilo para el Label que muestra el valor del rating */
#ratingValue {
    -fx-text-fill: #007bff; /* Color azul */
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}


/*

!* Botón Cerrar *!
.boton-cerrar {
    -fx-background-color: #6c757d;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 5px 10px;
    -fx-background-radius: 5px;
}
.boton-cerrar:hover {
    -fx-background-color: #5a6268;
}*/
